@import '../PostList/PostList';

@import '../PostListItem/PostListItem';

@import '../../containers/Posts/Posts';

@import '../../containers/Post/Post';

@keyframes skeleton {
    0% { 
        background-position:  -700px 0;
    }
    100% {
        background-position: 700px 0
    }
}

.postlist-card-dummy {
    width: auto;
    height: 118px;
    background-color: rgb(240, 245, 245);
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    animation: skeleton 3s infinite;
    background: linear-gradient(90deg, rgb(215,221,221) 0%, rgb(228,233,233) 35%, rgb(240,245,245) 100%);

}

.posts-header-dummy {
    animation: skeleton 3s linear 0 infinite;
    width: auto;
    height: 38px;
    background-color: rgb(240, 245, 245);
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    animation: skeleton 3s infinite;
    background: linear-gradient(90deg, rgb(215,221,221) 0%, rgb(228,233,233) 35%, rgb(240,245,245) 100%);
}

.post-dummy {
    width: auto;
    height: 38px;
    background-color: rgb(240, 245, 245);
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    animation: skeleton 3s infinite;
    background: linear-gradient(90deg, rgb(215,221,221) 0%, rgb(228,233,233) 35%, rgb(240,245,245) 100%); 
}


