.postlist-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 20px;
    background-color: rgb(240, 245, 245);
    border-radius: 15px;
}

.postlist-card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.postlist-card-col {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.postlist-card-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.postlist-card-author,
.postlist-card-subreddit {
    color: rgb(102, 153, 153);
}

.postlist-card-title {
    display: flex;
    flex-direction: row;
}

.postlist-card-thumbnail {
    border-radius: 3px;
}

.postlist-card-link {
    margin-bottom: 8px;
    font-size: 18px;
}


.postlist-card-metadata {
    margin-top: 8px;

    :nth-child(1) {
        margin-right: 10px;
    }
}

.postlist-card-metadata-icon {
    margin-right: 20px;
}