$xlarge-breakpoint: 1280px;
$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 1280px;

a {
  color: rgb(51, 77, 77);
    text-decoration: none;

    &:hover {
        color: rgb(102, 153, 153);
    }
}

@media (min-width: $xlarge-breakpoint) {
  .container {
    margin: 0 auto;
    max-width: $xlarge-breakpoint;
  }
}

@media (min-width: $large-breakpoint) {
  .container {
    margin: 0 auto;
    max-width: $large-breakpoint;
  }
}

@media (min-width: $medium-breakpoint) {
  .container {
    margin: 0 auto;
    max-width: $medium-breakpoint;
  }
}

@media (min-width: $small-breakpoint) {
  .container {
    margin: 0 auto;
    max-width: $small-breakpoint;
  }
}

